:root{
    --purple:#8e44ad;
    --red:#c0392b;
    --orange:#f39c12;
    --black:#333;
    --white:#fff;
    --light-color:#666;
    --light-white:#ccc;
    --light-bg:#f5f5f5;
    --border:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Playfair Display', serif; */
    /* font-family: 'Quicksand', sans-serif ; */
    /* font-family: 'Poppins',sans-serif; */
    text-decoration: none;
    transition:all .2s linear;

}
.empty{
   position: absolute;
   left: 20cm;
   padding: 1.5rem;
   text-align: center;
   background-color: rgb(255,255,255,0.4);
   color: #333;
   font-size: 1.5rem;
   width: 400px;
   align-items: center;
  
}

.heading{
   min-height: 70vh;
   display: flex;
   flex-flow: column;
   align-items: left;
   justify-content: center;
   gap:1rem;
   background: url("images/Landscapes/image\ \(40\).JPG") ;
   background-attachment: fixed;
   background-size: cover;
   background-position: bottom;
   text-align: left;
}

.heading h3{
   font-family: 'Playfair Display', serif;

   font-size: 3.5rem;
   color:var(--white);
   text-transform: uppercase;
   letter-spacing: 2px;
   width: 99px;
}


.heading p{
   top: 45rem;
   left: 1rem;
   font-size: 2.5rem;
   color:#f5f5f5;
   letter-spacing: 1px;

   text-transform: uppercase;
   font-family: 'Raleway', sans-serif;
   font-weight: 100;
   /* font-style: italic; */


}

.heading p a{
   color: #fff;
}

.heading p a:hover{
   text-decoration: underline;
}

/* *::selection{
    background-color: var(--purple);
    color:var(--white);
 }
  *::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
 }
 
 *::-webkit-scrollbar-track{
    background-color: transparent;
 }
  
 *::-webkit-scrollbar-thumb{
    background-color: var(--purple);
 }  */
 html{
    font-size: 62.5%;
    overflow-x: hidden;
 }
body{
   background-color: rgb(233, 170, 160,0.2);

}
.title{
   text-align: center;
   margin: 2rem;
   text-transform: uppercase;
   color: var(--black);
   font-size: 28px;
}
 .message{
    position: absolute;
    top:3.8cm;
    left:20.3cm;
    width: 400px;
    background-color: var(--white);
    padding:2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
 
 
 }
 
 .message span{
    font-size: 15px;
    color:var(--red);
    /* font-family: 'Quicksand', sans-serif ; */
 }
 
 .message i{
    cursor: pointer;
    color:var(--red);
    font-size: 2.5rem;
 }
 
 .message i:hover{
    transform: rotate(90deg)
}
 
 .btn:hover{
background-color: #666;
 }
  /* .option-btn:hover{   

}
.delete-btn:hover{

} */
.white-btn:hover{
    background-color: var(--white);
    color: var(--black);
}
/* .btn{

 } */

.btn-load{
display: inline-block;
margin-top: 1rem;
padding: .5rem 3rem;
cursor: pointer;
color: var(--white);
font-size: 18px;
border-radius: .3rem;
border: transparent;
text-transform: capitalize;
background-color: #633;
letter-spacing: 1px;

}
.btn-load:hover{
   background-color: #fff;
   color: #633;
   letter-spacing: 1px;
}
.btn,
.option-btn,
.delete-btn,
.white-btn{
display: inline-block;
margin-top: 1rem;
padding: .5rem 3rem;
cursor: pointer;
color: var(--white);
font-size: 14px;
border-radius: .3rem;
border: transparent;
text-transform: capitalize;
background-color: rgb(233, 170, 160);

}
 .form-container{
    min-height: 100vh;
    background-color: rgba(123, 56, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
 }
 .form-container form{
    /* z-index: 1; */
    padding: 2rem;
    width: 50rem;
    border-radius: .3rem;
    box-shadow: var(--box-shadow);
    /* border-style: solid;
    border-color: var(--white); */
    background-color: rgba(255, 255, 255, 0.4);
    /* opacity: 0.3; */
    text-align: center;
 }
 .form-container form h3{
    font-size: 2.5rem;
    margin-bottom: 1rem ;
    text-transform: uppercase;
    color: var(--black);
}
.form-container form .box{
    z-index: 2;
    width: 100%;
    border-radius: .3rem;
    background-color: var(--light-bg);
    padding: 1.2rem 1.4rem;
    font-size: 1.8rem;
    color : var(--black);
    margin: 1rem 0;
    border-style: solid;
    border-color: var(--white);

}
.form-container form p{

    padding-top: 1.5rem;
    font-size: 2rem;
    color: var(--black);
}
.form-container form p a{
    color: var(--purple)
}

.form-container form p a:hover{
    text-decoration: underline;
}
.header .header-1{
   background-color: var(--light-bg);
   height: 30px;
}
.header .header-1 .flex{
   padding: .5rem ;
   display: flex;
   align-items: center;
   justify-content: space-between;
   max-width: 1200px;
   margin: 0 auto;
}
.header .header-2{
   background-color: rgba(123, 56, 0, 0.3);
   box-shadow: var(--box-shadow);
}
.header .header-2 .flex{
   
   font-size :18px;
   padding: 2rem ;
   display: flex;
   align-items: center;
   justify-content: space-between;
   max-width: 1200px;
   margin: 0 auto;
   position: relative;

}
.header .header-1 .flex .share a{
   font-size :18px;
   margin-right: 1rem;
   color:var(--black);
   
}

.header .header-1 .flex .share a:hover{
   color:var(--black);
   
}
.header .header-1 .flex p{
   font-size: 14px;
}

.header .header-1 .flex p a:hover{
   text-decoration: underline;
}


.header .header-2 .flex .logo img{
   width: 10%;
   position: absolute;
   z-index: 999;
   top: -0.4cm;
   left: -0.6cm;
}
.header .header-2  .flex .navbar{
   margin: 0 2rem;
   font-size: 14px;
   color: var(--white);
}
.header .header-2  .flex .navbar a{
   margin-right: 1rem;
   font-size: 14px;
   color: var(--white);
   text-transform: uppercase;
   letter-spacing: 2px;
}
.header .header-2  .flex .navbar a:hover{
   margin-right: 1rem;
   font-size: 16px;
   color: #333;
   font-weight: 600;
   text-decoration: underline;
   
}
.header .header-2  .flex .icons > *{
   font-size: 22px;
   color: var(--white);
   cursor: pointer;
   margin-left: 1rem;
}
/* .header .header-2  .flex .icons a{

   color: var(--white);
}*/
  
.header .header-2  .flex .icons a span{
position: absolute;
   font-weight: 300;
   font-size: 10px;

} 
.header .header-2 .flex .user-box{
   position: absolute;
   top:120%; right: 2rem;
   background-color: rgba(255, 255, 255, 0.6);
   border-radius: .3rem;
   box-shadow: var(--box-shadow);
   border: white solid 1px;
   padding: 2rem;
   text-align: center;
   display:none;
   width: 30rem;

}

.header .header-2 .flex .user-box p{
   font-size: 18px;
   font-family: 'Quicksand', sans-serif;
   color: #666;
   letter-spacing: 2px;
   animation: fadein .4s linear;
}


.header .header-2 .flex .user-box.active{
   display: inline-block;
}
@keyframes fadein {
   0%{
   transform: translateY(1rem);
   opacity: .2;
   }
   
}
.footer{
   background:  linear-gradient(rgba(123, 56, 0, 0.2),rgba(123, 56, 0, 0.3));
   
}
.footer .box-container {
   max-width: 1200px;
   margin:0 auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27rem,1fr));
   gap:3rem;
   padding-left: 2rem;
}
.footer .box-container .box h3{
   text-transform: uppercase;
   color: #633;
   font-size: 18px;
   padding-top: 2rem;
}
.footer .box-container .box p, .footer .box-container .box a{
   display: block;
   color: var(--white);
   font-size: 14px;
   padding: 1rem 0;
}

.footer .box-container .box p i, .footer .box-container .box a i{
   color: var(--white);
   padding-right: 0.5rem;
}

.footer .credit{
   text-align: center;
   font-size:17px ;
   margin-top: 2rem;
   padding: 2rem;
   color: white;
   letter-spacing: 1px;
   font-weight: 300;
}
.footer .credit .span{
   color: #333;
}
#menu-btn{
   display:none;
}
.home{
   /* width: 900%;  */
   min-height: 60vh;
   background: linear-gradient(rgba(255,255,255,.2),rgba(255,255,255,.2)), url("images/ls1.JPG") no-repeat  ;

   background-size: cover;
   background-position: center;
   display: flex;
   align-items: center;
   justify-content: center;
}
.home .content{
   text-align: center;
   width:50rem;
}
.home .content h3{
   font-family: 'Playfair Display', serif;
   font-size:4rem;
   color: var(--white);
   text-transform: uppercase;
}

.home .content p{
   font-size: 2rem;
   color: var(--white);
   padding: 1rem 0;
   line-height: 2;
   font-family: 'Quicksand', sans-serif ;
}
.home .content .white-btn{
   display: inline-block;
   width: 150px;
   padding: 1rem;
   height: 40px;
   font-family: 'Quicksand', sans-serif ;
   font-size: 18px;
   align-items: center;
   align-items: center;
   justify-content: center;
   background-color: #633;
}
.home .content .white-btn:hover{
   background-color: #fff;

}
.products{
   padding:.5rem;
}
.products .box-container{
   max-width: 1200px;
   margin:0 auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, 30rem);
   align-items: flex-start;
   gap:1.5rem;
   justify-content: center;
}

.products .box-container .box{
   border-radius: .5rem;
   box-shadow: var(--box-shadow);
   background-color: rgb(255,255,255,0.2);
   box-shadow: var(--box-shadow);
   padding:2rem;
   text-align: center;
   /* border:var(--border); */
   position: relative;
}

.products .box-container .box .imgbox{
   text-align: center;
   padding:2rem;
   /* border-radius: .5rem; */
   /* border:var(--border); */
   box-shadow: var(--box-shadow);
   background-color: rgb(255,255,255);
   padding: 1em .5em ;
 }

.products .box-container .box img{
   height: 20rem;
   width: 100%
}
.products .box-container .box .name{
   padding:1rem 0;
   font-size: 1.1rem;
   color:var(--black);
   font-family: 'Quicksand', sans-serif;
   text-transform: uppercase;
   letter-spacing: 2px;
}



.products .box-container .box .price{

   font-size: 1.2rem;
   font-family: 'Quicksand', sans-serif;
   color:var(--black);
}
.products .box-container .box .qty{

   width:25%;
   height:10px;
   padding: 1.2rem 1.4rem;
   border-radius: .3rem;
   border: var(--white) solid 1px;
   background-color: rgb(255,255,255,0.7);
   font-size: 14px;
}
.contact{
   min-height: 50vh;
   background-color: rgba(123, 56, 0, 0.1);
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 2rem;
}

.contact form{
      /* z-index: 1; */
      padding: 2rem;
      width: 50rem;
      border-radius: .3rem;
      box-shadow: var(--box-shadow);
      /* border-style: solid;
      border-color: var(--white); */
      background-color: rgba(255, 255, 255, 0.4);
      /* opacity: 0.3; */
      text-align: center;
}

.contact form .box{
   z-index: 2;
   width: 100%;
   border-radius: .3rem;
   background-color: var(--light-bg);
   padding: 1.2rem 1.4rem;
   font-size: 1.8rem;
   color : var(--black);
   margin: 1rem 0;
   border-style: solid;
   border-color: var(--white);

}
.contact form h3{

   padding-top: 1.5rem;
   font-size: 3rem;
   color: #333;
   text-transform: uppercase;
}
.contact form p{

   padding-top: 1.5rem;
   font-size: 2rem;
   color: var(--black);
}

.contact form p a:hover{
   text-decoration: underline;
}

.contact textarea{
   height:20rem;
   resize: none;
   font-family: 'Popins' sans-serif;
}

.shopping-cart .box-container{
   max-width: 1200px;
   margin:0 auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, 30rem);
   align-items: flex-start;
   gap:1.5rem;
   justify-content: center;
}
.shopping-cart .box-container .box{
   border-radius: .5rem;
   box-shadow: var(--box-shadow);
   background-color: rgb(255,255,255,0.2);
   box-shadow: var(--box-shadow);
   padding:2rem;
   text-align: center;
   /* border:var(--border); */
   position: relative;
}

.shopping-cart .box-container .box .imgbox{
   text-align: center;
   padding:2rem;
   /* border-radius: .5rem; */
   /* border:var(--border); */
   box-shadow: var(--box-shadow);
   background-color: rgb(255,255,255);
   padding: 1em .5em ;
 }

.shopping-cart .box-container .box img{
   height: 20rem;
   width: 100%
}

.shopping-cart .box-container .box .name{
   padding:1rem 0;
   font-size: 1.1rem;
   color:var(--black);
   font-family: 'Quicksand', sans-serif;
   text-transform: uppercase;
   letter-spacing: 2px;
}
.shopping-cart .box-container .box .fa-times{
   position: absolute;
   top:1rem; right:1rem;

   height:2.5rem;
   width: 2.5rem;
   line-height: 2.5rem;
   font-size: 2rem;
   background: rgb(233, 170, 160);
   color: var(--white);
}
.shopping-cart .box-container .box .fa-times:hover{
   background-color: var(--red);
}



.shopping-cart .box-container .box .price{

   font-size: 1.2rem;
   font-family: 'Quicksand', sans-serif;
   color:var(--black);
}
.shopping-cart .box-container .box .qty{

   width:25%;
   height:10px;
   padding: 1.2rem 1.4rem;
   border-radius: .3rem;
   border: var(--white) solid 1px;
   background-color: rgb(255,255,255,0.7);
   font-size: 14px;
}

.shopping-cart .box-container .box .sub-total{
   padding-top: 1rem;
   font-size: 14px;
   color:var(--light-color);
}
.shopping-cart .cart-total{
   max-width: 1200px;
   margin:0 auto;
   border:var(--border);
   padding:2rem;
   text-align: center;
   margin-top: 2rem;
   border-radius: .5rem;
}

.shopping-cart .cart-total p{
   font-size: 2.5rem;
   color:var(--light-color);
}

.shopping-cart .cart-total p span{
   color:var(--red);
}

.shopping-cart .cart-total .flex{
   display: flex;
   flex-wrap: wrap;
   column-gap:1rem;
   margin-top: 1.5rem;
   justify-content: center;
}

.shopping-cart .disabled{
   pointer-events: none;
   opacity: .5;
   user-select: none;
}

.display-order{
   max-width: 1200px;
   margin:0 auto;
   text-align: center;
   padding-bottom: .5rem;
}

.display-order p{
   background-color: rgb(255,255,255,0.4);
   color: #333;
    font-size: 18px;
    padding: 1rem 1.5rem;
    box-shadow: var(--box-shadow);
    display: flex;
    margin: .5rem;
}
.display-order p span{
   color:#633;

}

.display-order  .grand-total{
   margin-top: 2rem;
   font-size: 22px;
   color: #333;

}
.checkout form{
   max-width: 1200px;
   padding:2rem;
   margin:0 auto;
   border:#fff solid 1px;
   background-color: rgb(255,255, 255,0.4);
   border-radius: .3rem;
}

.checkout form h3{
   text-align: center;
   margin-bottom: 2rem;
   color:var(--black);
   text-transform: uppercase;
   font-size: 3rem;
}

.checkout form .flex{
   display: flex;
   flex-wrap: wrap;
   gap:1.5rem;
}

.checkout form .flex .inputBox{
   flex:1 1 40rem;
}

.checkout form .flex span{
   font-size: 2rem;
   color:var(--black);
}

.checkout form .flex select,
.checkout form .flex input{
   border:var(--border);
   width: 100%;
   border-radius: .5rem;
   width: 100%;
   background-color: var(--white);
   padding:1.2rem 1.4rem;
   font-size: 1.8rem;
   margin:1rem 0;
}
@media(max-width:768px){
    html{
        font-size : 55%;
    }
    .header .header-2 .flex .navbar{
      position: absolute;
      top:99%;  right:-1cm;
      /* font-size: 14px; */
      background-color: rgba(123, 56, 0, 0.2);
      /* box-shadow: var(--box-shadow); */
      width: 200px;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

    }
    #menu-btn{
      display:inline-block;
   }
    .header .header-2 .flex .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }
    .header .header-2 .flex .navbar a{
      display:  block;
      font-size: 1.5rem;
      
      margin: 1rem;
      
    }
    .header .header-2 .flex .logo img{
      width: 23%;
      position: absolute;
      z-index: 999;
      top: -0.4cm;
      left: -0.6cm;
   }
}
@media (max-width: 450px){

    html{
        font-size: 50%;
    }
    .title{
      font-size: 3rem;
    }
}