:root{
    --purple:#8e44ad;
    --red:#c0392b;
    --orange:#f39c12;
    --black:#333;
    --white:#fff;
    --light-color:#666;
    --light-white:#ccc;
    --light-bg:#f5f5f5;
    --border:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    transition:all .2s linear;

}
.html{
    font-size: 62.5%;
    overflow-x:hidden ;
}

section{
    padding: 3rem 2rem;
}

.empty{
    position: absolute;
    left: 20cm;
    padding: 1.5rem;
    text-align: center;
    background-color: rgb(255,255,255,0.4);
    color: #333;
    font-size: 1.5rem;
    width: 400px;
    align-items: center;
   
}

 .message{
    position: absolute;
    top:3.8cm;
    left:0cm;
    width: 400px;
    height: 100px;
    background-color: var(--white);
    padding:2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
 
 
 }
 
 .message span{
    font-size: 15px;
    color:var(--red);
    /* font-family: 'Quicksand', sans-serif ; */
 }
 
 .message i{
    cursor: pointer;
    color:var(--red);
    font-size: 2.5rem;
 }
 
 .message i:hover{
    transform: rotate(90deg)
}
 
 .btn:hover{
background-color: #666;
 }
 /* .option-btn:hover{   

}
.delete-btn:hover{

}
.white-btn:hover{
    
}
 .btn{

 } */
 .option-btn{
    background-color: var(--orange);

 }

 .btn,
 .option-btn,
 .delete-btn,
 .white-btn{
display: inline-block;
margin-top: 1rem;
padding: .5rem 3rem;
cursor: pointer;
color: var(--white);
font-size: 14px;
border-radius: .3rem;
border: transparent;
text-transform: capitalize;
background-color: rgb(233, 170, 160);

 }


body{
    background-color:rgba(123, 56, 0, 0.1) ;

} 

.title{
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: var(--black);
    font-size: 22px;
}

.header{
    position: sticky;
    top:0;
    left:0;
    z-index:1000;
    background-color:rgba(123, 56, 0, 0.3) ;
    box-shadow: var(--box-shadow);
}
.header .flex{
    display: flex;
    align-items: center;
    padding:2rem;
    justify-content: space-between;
    position: relative;
    max-width: 1900px;
    margin: 0 auto;
}

.header .flex .logo{

    font-size: 2.5rem;
    color:var(--black);

}
.header .flex .logo span{

    font-size: 2.5rem;
    color:var(--white);

}
.header .flex .navbar a{
  
    margin-left: 5mm;
    font-size:14px;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 2px;

}
.header .flex .navbar a:hover{
  
    font-size:17px;
    text-decoration: underline;
    font-weight: 400;
}

.header .flex .icons div{
    margin-left:1.5rem;
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--black);
}
.header .flex .icons div:hover{
transform: translateY(-10px);
}
.header .flex .account-box{
    position: absolute;
    top:120%; right:0.3rem;
    width: 300px;
    height: 150px;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding:2rem;
    text-align: center;
    border-radius: .3rem;
    /* border:var(--border); */
    background-color: var(--white);
    display: none;
    animation: fadeIn .2s linear
}

.header .flex .account-box p{
    font-size: 14px;
    color: var(--black);
    margin-bottom: 1.5rem;
}
.header .flex .account-box p span{
    color: #666;
}
.header .flex .account-box .delete-btn{
    margin-top: 0;
 }
#menu-btn{
    display: none;
}
.header .flex .account-box.active{
    display: inline-block;
 }

/* @KeyFrames */
@keyframes fadeIn {
    0%{
    transform: translateY(1rem);
    opacity: .2;
    }
    
}

.dashboard .box-container{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(25rem,1fr)) ;
    /* left:0; */
    gap:1.5rem;
    /* width: 1200px; */
    margin: 0 auto;
    align-items: flex-start;
}
.dashboard .box-container .box{
    border-radius: .3rem;
    padding:2rem;
    /* width: 300px; */
    height: 150px;
    background-color: rgb(255,255,255,0.4);
    box-shadow: var(--box-shadow);
    /* border: var(--border); */
    text-align: center;
}

.dashboard .box-container .box h3{
    font-size: 3rem;
    color:var(--black);
    margin-top: -1rem; 
 }
 
 .dashboard .box-container .box p{
    /* margin-top: 1.5rem; */
    padding:0.7rem;
   /* background-color: var(--light-bg);
    color:var(--purple); */
    font-size: 18px;
    color: #fff;
    border-radius: .3rem;
    /* border:rgba(215, 195, 178) solid; */
    background-color: rgba(215, 195, 178,0.5);


    /* border:var(--border); */
 }
 
.add-products form{
    background-color: rgb(255,255,255,0.2);
    border-radius: .3rem;
    padding: 2rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    /* max-height: 200px; */

}

.add-products form h3{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.add-products form .box{
    width:100%;
    font-size: 18px;
    background: var(--light-bg) ;
    border-radius: .3rem;
    margin: 0.5rem 0;
    padding: 1.2rem 1.4rem;
    border: #fff solid 1px;
    
}
.show-products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    justify-content: center;
    gap:1rem;
    max-width: 2000px;
    margin:0 auto;
    align-items: flex-start;
 }
 
 .show-products{
    padding-top: 0;
 }
 
 .show-products .box-container .box{
    text-align: center;
    padding:2rem;
    /* border-radius: .5rem; */
    /* border:var(--border); */
    box-shadow: var(--box-shadow);
    background-color: rgb(255,255,255,0.2);
 }
 .show-products .box-container .box .imgbox{
    text-align: center;
    padding:2rem;
    /* border-radius: .5rem; */
    /* border:var(--border); */
    box-shadow: var(--box-shadow);
    background-color: rgb(255,255,255);
    padding: 1em .5em ;
  }
 
 .show-products .box-container .box img{
   height : 20rem;
   width :100%;

 }
 
 .show-products .box-container .box .name{
    padding:1rem 0;
    font-size: 1.1rem;
    color:var(--black);
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
 
 .show-products .box-container .box .price{

    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    color:var(--black);
 }

.edit-product-form{
    min-height: 100vh;
    background-color: rgb(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content:center ;
    padding: 2rem;
    overflow-y: scroll;
    position: fixed;
    top:0; left:0;
    z-index:1200;
    width:100%;
}
.edit-product-form form{
    width: 50rem;
    padding:2rem;
    text-align: center;
    background-color: rgb(255,255,255,0.8);

}
.edit-product-form form img{
    height: 20rem; 
    margin-bottom:1rem;
}
.edit-product-form form .box{
    margin:1rem 0;

    width:100%;
    font-size: 18px;
    background: var(--light-bg) ;
    border-radius: .3rem;
    margin: 0.5rem 0;
    padding: 1.2rem 1.4rem;
    border: #fff solid 1px;
}

.orders .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    justify-content: center;
    gap:1rem;
    max-width: 2000px;
    margin:0 auto;
    align-items: flex-start;

}

.orders .box-container .box{
    text-align: center;
    padding:2rem;
    /* border-radius: .5rem; */
    /* border:var(--border); */
    box-shadow: var(--box-shadow);
    background-color: rgb(255,255,255,0.2);

}

.orders .box-container .box p{
    padding-bottom:1rem ;
    font-size: 14px;
    color: var(--black);
}
.orders .box-container .box p span{

    color: var(--black);}
.orders .box-container .box form{

    text-align: center;
}
.orders .box-container .box form select{
    width:100%;
    font-size: 18px;
    background: var(--light-bg) ;
    border-radius: .3rem;
    margin: 0.5rem 0;
    padding: 1.2rem 1.4rem;
    border: #fff solid 1px;
}
.users .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    justify-content: center;
    gap:1rem;
    max-width: 2000px;
    margin:0 auto;
    align-items: flex-start;

}

.users .box-container .box{
    text-align: center;
    padding:2rem;
    /* border-radius: .5rem; */
    /* border:var(--border); */
    box-shadow: var(--box-shadow);
    background-color: rgb(255,255,255,0.2);
    
}

.users .box-container .box p{
    padding-bottom:1.5rem ;
    font-size: 14px;
    color: var(--black);
}

.messages .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    justify-content: center;
    gap:1rem;
    max-width: 2000px;
    margin:0 auto;
    align-items: flex-start;

}

.messages .box-container .box{
    text-align: center;
    padding:2rem;
    /* border-radius: .5rem; */
    /* border:var(--border); */
    box-shadow: var(--box-shadow);
    background-color: rgb(255,255,255,0.2);
    
}

.messages .box-container .box p{
    padding-bottom:1.5rem ;
    font-size: 14px;
    color: var(--black);
}

.messages .box-container .box p span{

    color: var(--black);}
/* media queries */
@media(max-width:991px){
    html{
        font-size : 55%;
    }
}
@media (max-width: 768px){

    #menu-btn{
        display: inline-block;
    }
    .header .flex .navbar{
        position: absolute;
        top:99%; left:0; right:0;
        background-color: var(--white);
        /* border-top: var(--border);
        border-bottom: var(--border); */
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
     }
     .header .flex .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
     }
  
     .header .flex .navbar a{
        margin:2rem;
        display: block;
        color: var(--black);
     }
  
}
@media (max-width: 450px){

    html{
        font-size: 50%;
    }
    .title{
        font-size: 1rem;
     }
  
}
    
